<div>
    <hr class="line">
    <h5 class="title-text">Edit Your Profile</h5>
    <hr class="line">
</div>

<div *ngIf="user">
<div class="container bg-white border">
    <h6 class="titel-form">ENTER YOUR NEW PERSONAL INFORMATION</h6>
    
    <form class="form-template" [formGroup]="form" >
      <div class="form-group row">
        <label for="firstName" class="col-sm-2 col-form-label">FIRST NAME</label>
        <div class="col-sm-8">
          <div class="md-form mt-0">
            <input type="firstName" class="form-control" [formControlName]="'firstName'" placeholder="{{user.firstName}}">
          </div>
        </div>
      </div>
      <div class="form-group row" [formGroup]="form" >
        <label for="lastName" class="col-sm-2 col-form-label">LAST NAME</label>
        <div class="col-sm-8">
          <div class="md-form mt-0">
            <input type="lastName" class="form-control" [formControlName]="'lastName'" placeholder="{{user.lastName}}">
          </div>
        </div>
      </div>
      <div class="form-group row" [formGroup]="form" >
        <label for="email" class="col-sm-2 col-form-label">EMAIL</label>
        <div class="col-sm-8">
          <div class="md-form mt-0">
            <input type="email" class="form-control" [formControlName]="'email'" placeholder="{{user.username}}">
          </div>
        </div>
      </div>
      <div class="form-group row" [formGroup]="form" >
        <label for="password" class="col-sm-2 col-form-label">ENTER NEW PASSWORD</label>
        <div class="col-sm-8">
          <div class="md-form mt-0">
            <input type="password" class="form-control" [formControlName]="'password'" placeholder="{{getPassword()}}">
          </div>
        </div>
      </div>
      <div class="form-group row" [formGroup]="form" >
        <label for="passwordCheck" class="col-sm-2 col-form-label">REENTER NEW PASSWORD</label>
        <div class="col-sm-8">
          <div class="md-form mt-0">
            <input type="passwordCheck" class="form-control" [formControlName]="'passwordCheck'" placeholder="{{getPassword()}}">
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-8">
          <button class="btn btn-outline-dark buttons-row" type="submit" (click)="goBack()">Back</button>
          <button class="btn btn-outline-primary buttons-row" type="submit" (click)="save()">Save</button>
        </div>
      </div>
    </form>
    </div>
  </div>