/*
Menu from source: https://codepen.io/jurbank/pen/veGnb
*/
.wrap {
    display: inline-block;
    margin-left: 40px;
    margin-top: 20px;
  }
  
  a {
    text-decoration: none;
    color: #fff;
    display: block;
  }
  
  ul {
    list-style: none;
    position: relative;
    text-align: left;
  }
  
  li {
    float: left;
  }
  
  ul:after {
    clear: both;
  }
  
  ul:before,
  ul:after {
      content: " ";
      display: table;
  }
  
  nav {
    position: relative;
    background: #343a40;
    background-image: -webkit-linear-gradient(to bottom, #343a40 7%, #343a40 100%);
    background-image: -moz-linear-gradient(to bottom, #343a40 7%, #343a40 100%);
    background-image: -o-linear-gradient(to bottom, #343a40 7%, #343a40 100%);
    background-image: linear-gradient(to bottom, #343a40 7%, #343a40 100%);
    text-align: center;
    letter-spacing: 1px;
    -webkit-box-shadow: 2px 2px 3px #888;
    -moz-box-shadow: 2px 2px 3px #888;
    box-shadow: 2px 2px 3px #888;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }
  
  ul.primary li a {
    display: inline-block;
    padding: 17px 20px;
  }
  
  ul.primary li:last-child a {
    border-right: none;
  }
  
  ul.primary li a:hover {
    color: #343a40;
  }
  
  ul.sub {
    position: absolute;
    z-index: 200;
    box-shadow: 2px 2px 0 #BEBEBE;
    width: 60%;
    display:none;
  }
  
  ul.sub li {
    float: none;
    margin: 0;
  }
  
  ul.sub li a {
    border-bottom: 1px dotted #ccc;
    border-right: none;
    color: #343a40;
    padding: 15px 15px;
  }
  
  ul.sub li:last-child a {
    border-bottom: none;
  }
  
  ul.sub li a:hover {
    color: #343a40;
    background: #eeeeee;
  }
  
  ul.primary li:hover ul {
    display: block;
    background: #fff;
  }
  
  ul.primary li:hover a {
    background: #fff;
    color: #666;
    text-shadow: none;
  }
  
  ul.primary li:hover > a{
    color: #343a40;
  }

  .logo {
    margin-top: 10px;
    margin-right: none;
    padding-right: none;
  }

  .pointer {
    cursor: pointer;
  }