<div>
    <hr class="line">
    <h5 class="title-text">Error Page</h5>
    <hr class="line">
</div>

<div class="container bg-white border">
    <div class="container row">
        <h3 class="title-404 col-md-4">404 NOT FOUND</h3>
        <h6 class="title-body col-md-auto">HAVE YOU LOST YOUR WAY ?
            <br>YOU CAN ALWAYS GO BACK HOME
        </h6>
    </div>
    <div class="container row col-md-4">
       
    </div>
    <div class="buttonHome">
        <button class="btn btn-outline-dark " (click)="goHome()">Go Home</button>
    </div>

    <img class="image" src="../../assets/susan-yin-Ctaj_HCqW84-unsplash2.png" width="1140px" />
</div>