<div>
  <hr class="line">
  <h5 class="title-text">View a Todo</h5>
  <hr class="line">
</div>

<div *ngIf="userTodo">
<div class="container bg-white border">
  <h6 class="title">{{userTodo.title}}</h6>
  <div class="row card-box">
    <label for="title" class="col-sm-2 ">TITLE</label>
    <div class="col-sm-8 card">
      <div class="mt-0 card-body">
        {{userTodo.title}}
      </div>
    </div>
  </div>
  <div class="row card-box">
    <label for="dueDate" class="col-sm-2">DUE DATE</label>
    <div class="col-sm-8 card">
      <div class="mt-0 card-body">
        {{userTodo.dueDate}}
      </div>
    </div>
  </div>
  <div class="row card-box">
    <label for="category" class="col-sm-2 ">CATEGORY</label>
    <div class="col-sm-8 card">
      <div class="mt-0 card-body">
        {{userTodo.category}}
      </div>
    </div>
  </div>
  <div class="row card-box">
    <label for="important" class="col-sm-2 ">IMPORTANT</label>
    <div class="col-sm-8 card">
      <div *ngIf="userTodo.important === true" class=" mt-0 card-body">Yes</div>
      <div *ngIf="userTodo.important === false" class=" mt-0 card-body">No</div>
    </div>
  </div>
  <div class="row card-box">
    <label for="note" class="col-sm-2 ">NOTE</label>
    <textarea type="note" rows="3" class="col-sm-8 card note-box" disabled>{{userTodo.note}}</textarea>
  </div>
  <div class="row">
    <div class="col-md-8">
      <button class="btn btn-outline-dark buttons-row" (click)="goBack()">Back</button>
      <button class="btn btn-outline-primary buttons-row" (click)="edit(userTodo)">Edit</button>
    </div>
  </div>