<app-header></app-header>
<main>
  <router-outlet></router-outlet>
</main>
<footer class="footer">
  <div class="container-fluid" text-left>
    <div class="row">
      <div class="col">
        <p>
          Made with <img class="heart" src="../assets/heart.ico" alt="heart icon"> 
          in Bern using <a href="https://angular.io">Angular</a> version 11.0.1. <br>
          © Céline Hüttenmoser. Created for the module JavaScript Applications at the BFH Fall Term 2020.
        </p>
      </div>
      <div class="col-md-auto">
        <a href="https://www.bfh.ch">
          <img class="bfh_logo" src="../assets/BFH_Logo_deutsch.png" alt="bfh logo" width="30">
        </a>
      </div>
    </div>
  </div>
</footer>
