<div>
  <hr class="line">
  <h5 class="title-text">Your Profile</h5>
  <hr class="line">
</div>

<div *ngIf="user">
  <div class="container bg-white border">
    <h6 class="title">Your Personal Information</h6>
    <div class="row card-box">
      <label for="fistName" class="col-sm-2 ">FIRST NAME</label>
      <div class="col-sm-8 card">
        <div class="mt-0 card-body">
          {{user.firstName}}
        </div>
      </div>
    </div>
    <div class="row card-box">
      <label for="lastName" class="col-sm-2">LAST NAME</label>
      <div class="col-sm-8 card">
        <div class="mt-0 card-body">
          {{user.lastName}}
        </div>
      </div>
    </div>
    <div class="row card-box">
      <label for="email" class="col-sm-2 ">EMAIL</label>
      <div class="col-sm-8 card">
        <div class="mt-0 card-body">
          {{user.username}}
        </div>
      </div>
    </div>
    <div class="row card-box">
      <label for="important" class="col-sm-2 ">PASSWORD</label>
      <div class="col-sm-8 card">
        <div class=" mt-0 card-body">{{getPassword()}}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <button class="btn btn-outline-dark buttons-row" (click)="goBack()">Back</button>
        <button class="btn btn-outline-primary buttons-row" (click)="edit(user)">Edit</button>
      </div>
    </div>
  </div>
</div>