.line{
    width: 90%;
    margin-top: 3em;
    margin-bottom: 3em;
    border-width: 0.2em;
    border-radius: 0.2em;
}

.title-text{
    text-align: center;
    font-size: 2em;
    font-weight: lighter;
}

.form-template{
    position: relative;
    width: 80em;
}

.form-group{
    margin-left: 8em;
    margin-bottom: 3em;
}

.titel-form{
    margin-bottom: 4em;
    margin-top: 4em;
    margin-left: 5em;
    font-size: 1.8em;
    font-weight: lighter;
}

.buttons-row{
    justify-content: center;
    position: relative;
    margin-right: 2em;
    margin-top: 4em;
}

.button-register{
    margin-left: 8.8em;
}